### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### YOLO Face ###
.idea/
__pycache__/
.vscode/

# Virtualenv
venv/

# Temp files
temp/
samples/*.mp4
samples/
*_kmeans.py

# The weights of the trained models
model-weights/
*.weights
*.h5

# Output files
outputs/

# Datasets
data/
